.container {
  display: flex;
  gap: 24px;
}

.image {
  width: 50%;
  height: 75vh;
  object-fit: contain;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
}

.text {
  padding: 24px 0;
  font-size: 24px;
  font-weight: bold;
  color: #00f;
  text-align: center;
  background: #fffd;
  border-radius: 8px;
  backdrop-filter: blur(4px);
}

@media screen and (max-width: 640px) {
  .container {
    flex-direction: column;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .content {
    width: 100%;
    padding: 0;
    margin-top: 16px;
  }

  .text {
    font-size: 16px;
  }
}
